<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">
    <img src="assets/images/leaselabs_logo_fullstack_rgb.png" alt="Logo">
  </a>
  <button class="navbar-toggler" 
          type="button" 
          data-toggle="collapse" 
          data-target="#navbarCollapse" 
          aria-controls="navbarCollapse" 
          aria-expanded="false" 
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" routerLinkActive="active current">
        <a class="nav-link" routerLink="/home">HOME</a>
      </li>
      <li class="nav-item" routerLinkActive="active current">
        <a class="nav-link" routerLink="/ourwork">OUR WORK</a>
      </li>
      <li class="nav-item" routerLinkActive="active current">
        <a class="nav-link" routerLink="/aboutus">ABOUT US</a>
      </li>
      <li class="nav-item" routerLinkActive="active current">
        <a class="nav-link" routerLink="/contactus">CONTACT US</a>
      </li>
      <li class="nav-item active current" routerLinkActive="active current">
        <a class="nav-link" routerLink="/specials">SPECIALS</a>
      </li>
    </ul>
  </div>
</nav>